* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

header {
    position: relative;
    width: 100%;
}

img {
    width: 100%;
}

section {
    position: relative;
    margin-top: 1rem;
}

.content {
    padding-bottom: 8rem;
}

.question {
    position: relative;
    background-color: white;
    height: fit-content;
    width: 85%;
    margin: 0 auto;
    color: black;
}

.ask {
    padding: 1em;
    font-size: larger;
}

.answer {
    padding: 1em;
    font-size: larger;
    background-color: rgba(255, 0, 0, 0.4);
}

input {
    position: fixed;
    width: 100%;
    height: fit-content;
    font-size: larger;
    bottom: 0;
    border: none;
    padding: 1rem;
    border-top: .05em solid black;
}

#bottem {
    position: relative;
    height: 16rem;
}